// Mixins Here

// Generic Flexbox Mixin
.flexbox(@j, @a) {
	display: flex;
	justify-content: @j;
	align-items: @a;
}

// Header Link Styling Mixin
.header-links() {
	text-decoration: none;
	color: inherit;
	font-size: 2.5rem;
	padding: 0 2%;
}

// Buttons
.button(@w, @c, @fc) {
	width: @w;
	background: @c;
	color: @fc;
	text-align: center;
	padding: 3%;
	border-radius: 10px;
	font-size: 2rem;
}

//static header for stretch
.static() {
	  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */


}
