// Navigation code here

.navigation-container {
	margin-left: 3%;
	background: @nav-bg;
	.navigation {
		.flexbox(center, center);
		flex-direction: column;
    padding-bottom: 1%;
    margin-left: -3.5%;
	} // close navigation

	h1 {
		font-size: 6rem;
		padding: 1% 0;
	} //close h1
	nav {
		width: 50%;
		text-align: center;

		a {
			text-decoration: none;
			color: inherit;
			font-size: 2.5rem;
			padding: 0 2%;
		}
	} //close nav container
}

.header-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 42;
	border-radius: 5px;
}
