// Navigation code here

.navigation-container {
	background: @nav-bg;

	@media @mobile {
		background: inherit;
	} // close media query

	.navigation {
		.flexbox(center, center);
		flex-direction: column;
		padding-bottom: 1%;

		@media @mobile {
			width: 90%;
			margin: 0 auto;
		} // close media query
	} // close navigation

	h1 {
		font-size: 6rem;
		padding: 1% 0;
	} //close h1
	nav {
		width: 50%;
    text-align: center;
@media @mobile{
width: 100%;
}

		a {
			.header-links();
		}
	} //close nav container
}

.header-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 42;
	border-radius: 10px;
}
